<div class="form-group _classCheckboxModel_"  >
  <label for="" class="col-sm-4 control-label">_labelCheckboxModel_</label>
  <div class="col-sm-3">
      <input type="checkbox" class="form-control _classInputCheckBoxModel_" value="_value_checkbox_" name="_name_Checkbox_" id="_id_checkBox_" style="width: 20px; height: 20px;">
  </div>
</div>
