<div class="form-group">
<label class="col-sm-4 control-label" for="">_label_data_model_</label>
<div class="col-sm-5">
<div class="input-group">
<span for="_for_data_model_" class="input-group-btn"><button type="button" class="btn btn-search">
<i class="fa fa-calendar-o" aria-hidden="true"></i>
</button>
</span>
<input class="form-control datepicker" type="text" id="_id_data_model_"
name="_name_data_model_" value="" maxlength="10" autocomplete="off">
</div>
</div>
</div>
