<!-- MODULO 09 -->
<div class="title">
  <div class="title-row">
    <div class="left">
      <h4>_title_ricerca_anagrafica_ <span style="color: #6CDDCF; font-size: 20px;" id="_id_ricerca_anagrafica_"></span></h4>
    </div>
    <div class="right">
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
          <a class="btn btn-down" id="_modulo_ricerca_anagraficas_" role="button" data-toggle="collapse" data-target="#_modulo_ricerca_anagraficas_-dati-open" aria-expanded="false" aria-controls="_modulo_ricerca_anagraficas_-dati-open">Open/Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-module collapse in" id="_modulo_ricerca_anagraficas_-dati-open">

<div class="form-row">

  <div class="actions " id="_id_button_ricerca_"  >
  <div id="_id_btn_cerca" class="btns" style="padding: 0px 0px 20px 0px !important;">
    <div class="btns-row">
      <div class="column">
      <div class="buttons" style="text-align: left !important;">

        <div type="button" class="btn btn-next bSearch"
        onclick="javascript:anagraficaSearch('._modulo_cerca_','_soggetto_cerca_','','','',this);">CERCA / CENSISCI
        </div>
        <span style="color: #6CDDCF; font-size: 20px;" id="_id_span_cerca"></span>
        <span>&nbsp;</span>

        <div type="button" class="btn btn-next bEdit" style="display:none;"
        onclick="javascript:anagraficaEdit('._modulo_edit_','_soggetto_edit_');">MODIFICA</div>
        <span style="color: #6CDDCF; font-size: 20px; display:none;" id="_id_spamModifica_" ></span>
        <span>&nbsp;</span>

        <div type="button" class="btn btn-next bReset"
        onclick="javascript:anagraficaReset('._modulo_reset_','_soggetto_reset_');">RESET</div>

      </div>
      </div>
    </div>
    </div>

  </div>
  </div>

</div>




  <div id="_id_ricerca_anagrafica_campi_">
    <div   id="_dati_cognome_">

    </div>

    <div   id="_dati_nome_">

    </div>

    <div  id="_dati_cf_">

    </div>
    <div  id="_dati_piva_">

    </div>
    <div id="_dati_nascita_">

    </div>

    <div id="_dati_relazione_">

    </div>

    <div id="_dati_especificare_"  style="display:none;">

    </div>
    <div id="_dati_sogggetto_"  style="display:none;">

    </div>

  </div>
</div>
      </div>
