<div class="form-group _classModelRadio_">
  <label class="col-sm-4 control-label" for="">_labelModelRadio_</label>
  <div class="col-sm-5">
    <div class="switch-field">
      <input type="radio" id="_id_radio_a_" name="_name_radio_a_" value="_value_radio_a_" class="switchInput_radio">
      <label class="switchLabel_radio" for="_for_radio_a_" error_name="_error_name_radio_a_">_desc_radio_a_</label>
      <input type="radio" id="_id_radio_b_" name="_name_radio_b_" value="_value_radio_b_" class="switchInput_radio">
      <label class="switchLabel_radio" for="_for_radio_b_" error_name="_error_name_radio_b_">_desc_radio_b_</label>
    </div>
  </div>
</div>
