<div class="form-group classInputModel">
  <label id="_id_label_input_" for="" class="col-sm-4 control-label">_desc_label_input_</label>
  <div class="col-sm-5">
    <input type="text" class="form-control _class_model_input_" name="_name_model_input_" id="_id_model_input_" maxlength="60">
  </div>
</div>
