<div class="form-group _classSelectModel_" >
<label class="col-sm-4 control-label">_label_Select_model_</label>
<div class="col-sm-5">
<select class="form-control _class_select_" name="_name_select_" id="_id_select_">
</select>
</div>
</div>
